.infobox-wrapper {
  background: #edd71c;
  padding: 20px 0 10px;
  font-size: 18px;
}

.infobox-wrapper .header--inner {
  padding: 0 8px;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .infobox-wrapper .header--inner {
    padding: 0 20px;
  }
}
